<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{administrativo/fragments/layout}">
<head>
<title>Página Lista de Produtos da Loja Virtual</title>
<meta charset="utf-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Lista de Produtos</span></li>
				</ul>
				<a class="btn btn-primary btn-md" href="/administrativo/entrada/produtos/cadastrar"
					role="button"> <span class="oi oi-plus" title="Cadastro"
					aria-hidden="true"></span> <span>Cadastrar Produto</span>
				</a>
			</div>
		</nav>

		<div class="container" id="buscar_descricao">
			<form action="/administrativo/produtos/buscarDescricao" th:object="${produto}" method="post">
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="buscar_descricao">Buscar por Descrição</label>
						<input type="text" class="form-control" name="buscar_descricao" id="buscar_descricao" 
								placeholder="Descrição"/>
						<button type="submit" class="btn btn-primary btn-sm">Buscar</button>
						
						<div class="invalid-feedback">
						</div>
					</div>
				</div>	
			</form>
		</div>

		<div class="container" id="buscar_categoria">
			<form action="/administrativo/produtos/buscarCategoria" th:object="${produto}" method="post">
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="buscar_categoria">Buscar por Categoria</label>
						<input type="text" class="form-control" name="buscar_categoria" id="buscar_categoria" 
								placeholder="Categoria"/>
						<button type="submit" class="btn btn-primary btn-sm">Buscar</button>
						
						<div class="invalid-feedback">
						</div>
					</div>
				</div>	
			</form>
		</div>
		
		<div class="container" id="buscar_marca">
			<form action="/administrativo/produtos/buscarMarca" th:object="${produto}" method="post">
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="buscar_marca">Buscar por Marca</label>
						<input type="text" class="form-control" name="buscar_marca" id="buscar_marca" 
								placeholder="marca"/>
						<button type="submit" class="btn btn-primary btn-sm">Buscar</button>
						
						<div class="invalid-feedback">
						</div>
					</div>
				</div>	
			</form>
		</div>

		<div class="container">

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th>Descrição</th>
							<th>Quantidade em Estoque</th>
							<th>Valor de Venda</th>
							<th>Imagem</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="produto : ${listaProdutos}">
							<td th:text="${produto.id}"></td>
							<td th:text="${produto.descricao}"></td>
							<td th:text="${produto.quantidadeEstoque}"></td>
							<td th:text="${produto.valorVenda}"></td>
							<td><img th:src="@{/administrativo/produtos/mostrarImagem/{imagem}(imagem=${produto.nomeImagem})}" width=100/></td>

							<td colspan="2"><a class="btn btn-info btn-sm"
								th:href="@{/administrativo/entrada/produtos/editar/{id}(id=${produto.id})}"
								role="button"> <span class="oi oi-brush" title="Editar"
									aria-hidden="true"></span>
							</a> 
							
							<a class="btn btn-info btn-sm" data-toggle="modal"
								data-target="#modal-warning"
								th:attr="data-target='#modal-warning'+${produto.id }"><span
									class="oi oi-circle-x" title="Remover" aria-hidden="true"></span></a>
							

								<div class="modal modal-warning fade in"
									th:id="modal-warning+${produto.id}">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
											<h5 class="modal-title">Remover Produto</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Fechar">
													<span aria-hidden="true">×</span>
												</button>
												
											</div>
											<div class="modal-body">
												<h3>Deseja realmente remover o Produto?</h3>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-outline pull-left"
													data-dismiss="modal">Fechar</button>
												<a type="button" class="btn btn-outline"
													th:href="@{/administrativo/entrada/produtos/remover/{id}(id=${produto.id})}"><i
													class="fa fa-check"></i>&nbsp;Sim</a>
											</div>
										</div>
									</div>
								</div></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section>

	</div>


</body>
</html>
